<section aria-label="navigation">
  <app-social-button
    variant="liveperson"
    href="https://www.liveperson.com"
    target="_blank"
    [icon]="faLivePerson">
  </app-social-button>
  <app-social-button
    variant="twitter"
    href="https://twitter.com/liveperson"
    target="_blank"
    [icon]="faTwitter">
  </app-social-button>
  <app-social-button
    variant="facebook"
    href="https://www.facebook.com/liveperson"
    target="_blank"
    [icon]="faFacebookF">
  </app-social-button>
  <app-social-button
    variant="youtube"
    href="https://www.youtube.com/user/MyLivePerson"
    target="_blank"
    [icon]="faYoutube">
  </app-social-button>
  <app-social-button
    variant="linkedin"
    href="https://www.linkedin.com/company/liveperson"
    target="_blank"
    [icon]="faLinkedinIn">
  </app-social-button>
</section>