<article class="card" [@fadeInOut] id={{tweet.id}}>
  <header>

    <div class="meta">
      <img
        [src]="tweet?.user?.profileImage"
        alt="" class="profile">
      <div class="details">
        <p class="name">{{tweet?.user?.name}}</p>
        <p class="username">@{{tweet?.user?.screenName}}</p>
      </div>
    </div>

    <fa-icon [icon]="faTwitter" [styles]="{'color': '#0095eb'}"></fa-icon>
  </header>

  <p class="message">{{tweet?.text}}</p>
  <p class="timestamp">{{tweet?.createdAt}}</p>
</article>