.btn,
.btn:before,
.btn .fa
  transition: all 0.3s
  transition-timing-function: cubic-bezier(.72, 0, .15, 1)

.btn
  width: 90px
  height: 90px
  background-color: #fff
  border-radius: 10px
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1)
  display: flex
  justify-content: center
  line-height: 90px
  margin: 12px
  position: relative
  overflow: hidden
  text-align: center

  &.facebook
    &:before
      background: #3b5998

    .fa
      color: #3b5998

  &.linkedin
    &:before
      background: #3076b0

    .fa
      color: #3076b0

  &.liveperson
    &:before
      background: #ec773d

    .fa
      color: #ec773d

  &.twitter
    &:before
      background: #3cf

    .fa
      color: #3cf

  &.youtube
    &:before
      background: #eb3423

    .fa
      color: #eb3423

  .fa
    transform: scale(0.8)
    font-size: 38px
    vertical-align: middle

  &:before
    width: 150%
    height: 150%
    content: ''
    left: -110%
    position: absolute
    top: 90%
    transform: rotate(45deg)

  &:hover
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .2)

    .fa
      color: #fff !important
      position: relative
      transform: scale(1.1)
      z-index: 2

    &:before
      left: -25%
      top: -25%
      z-index: 1
